body {
    background-image: url("../images/cart-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
}

.card-body {
    background-color: #e4f0f5;
}

.fa-trash,
.fa-minus,
.fa-plus {
    cursor: pointer;
    color: #ffffff;
}

.btns {
    background-color: #397fe9;
    border: none;
    border-radius: 100%;
}

.btns:hover {
    background-color: #452bb8;
}

hr {
    background-color: #000000;
}