@import url('https://fonts.googleapis.com/css?family=Numans');

#main {
    background-image: url('../images/contact-bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: 'Numans', sans-serif;
}


.form-controls {
    background-color: rgb(212, 236, 250);
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    outline: none;
}

.submit-btn {
    background-color: #140d79;
    color: white;
    border: 0;
    border-radius: 60px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;

}

.submit-btn:hover {
    color: white;
    background-color: #000000;

}


img {
    border-radius: 50px;
    width: 100%;
}

.image {
    margin: 100px;
    padding: 25px;
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 100%;
    transition: transform 0.5s ease;
}

.image:hover img {
    transform: scale(1.09);
}

.contact-form {
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: #1c68cc;
    padding: 40px;
    margin: 50px;
    text-align: left;
    border-radius: 10px;
}